/**
 * Custom CSS
 * Use this file to override styles if you feel uncomfortable editing
 * component stylesheets.
 ============================================================================ */
/* Kopfzeile */
.pr-leaderboard,
.pr-leaderboard__rw {
  background-color: #d3e2e8;
}

/* Slideshow */
#block-slideshow {
  margin-top: 0;
}

.cropped-slideshow-image {
  margin: -15% 0;
}

.centered-slideshow {
  object-fit: cover;
}

.pr-features {
  background-color: #f7f7f7
}

/* Selektierter Text */
::selection {
  background-color: #d3e2e8;
}

/* Logo */
.site-branding__logo-img {
  max-height: 210px;
}

/* Hauptmenü */
.pr-navbar {
  min-height: 58px;
}

/* Suche */
.search-block-form {
  float: right;
}

/* Abstand Main-Content */
#main-content {
  margin-top: 70px;
}

/* Gottesdienste */

#block-efg-nienburg-views-block-gottesdienste-block-1-title {
  min-height: 58px;
  color: #ffffff;
  background-color: #7cb2cb;
  text-align: center;
}

#block-efg-nienburg-views-block-gottesdienste-block-1-title > span {
  font-size: smaller;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translate(0px, 10px);
}

/* Gemeindeleitungsblock */

#block-views-block-gemeindeleitung-block-1-title {
  min-height: 58px;
  color: #ffffff;
  background-color: #7cb2cb;
  text-align: center;
}

#block-views-block-gemeindeleitung-block-1-title > span {
  font-size: smaller;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translate(0px, 10px);
}

.gemeindeleitung .node__title {
  font-size: x-large;
}
.gemeindeleitung .field-name-field-tags {
  display: none;
}

/* Bilder im Node */
img.image-style-wide,
img.image-style-medium {
  width: 135px;
  height: 135px;
  object-fit: cover;
}

/* Footer */
#footer {
  color: #363636;
}


/* Autor und Veröffentlichungsdatum nicht anzeigen */
.node__meta {
  display: none;
}
.node__author {
  display: none;
}
.node__pubdate {
  display: none;
}
.view-empty {
  display: none
}

/* Titel der Predigten */
.predigt-item h2 {
  font-size: 1.625rem;
}
