{#
/**
 * Layout provider: flex-builder
 * Template suggestion: page
 */
#}
{{ attach_library('efg_nienburg/efg_nienburg.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
